scateer/src/main/mule/scateer.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="bb995e9a-e31e-452f-a3b9-65df7e820c4c" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="scateerFlow" doc:id="e8b76424-f0d1-451e-8359-f0fa3c175f28" >
		<http:listener doc:name="Listener" doc:id="b32362e9-3994-4f79-b169-6951c058e903" config-ref="HTTP_Listener_config" path="scat"/>
		<scatter-gather doc:name="Scatter-Gather" doc:id="094a6b53-a49c-437c-8ff2-e76db1edcfd5" >
			<route >
				<logger level="INFO" doc:name="Logger" doc:id="2a10e9d8-efc1-4ee3-87b3-08e01c930f62" message="hlo"/>
			</route>
			<route >
				<logger level="INFO" doc:name="Logger" doc:id="17a9b9d7-e9e3-4339-8b5c-905151b4cec2" message="hi"/>
			</route>
		</scatter-gather>
		<ee:transform doc:name="Transform Message" doc:id="c7632d72-1d1b-416c-9f0e-1f27327f7f78" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="81c00cbc-5ee0-4dc4-bc9a-832d37e35622" message="#[payload]"/>
	</flow>
</mule>
