smpt/src/main/mule/smpt.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:email="http://www.mulesoft.org/schema/mule/email" xmlns:sockets="http://www.mulesoft.org/schema/mule/sockets"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/sockets http://www.mulesoft.org/schema/mule/sockets/current/mule-sockets.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="1485ee69-4912-46aa-9166-ba8777824df7" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<email:smtp-config name="Email_SMTP" doc:name="Email SMTP" doc:id="a5aa8139-bd7b-4a39-ab67-aeaf3b2cbc88" >
		<email:smtp-connection host="smtp.gmail.com" port="587" user="grsr2644@gmail.com" password="Ravi@123" >
			<reconnection />
			<email:properties >
				<email:property key="mail.smtp.starttls.enable" value="true" />
			</email:properties>
		</email:smtp-connection>
	</email:smtp-config>
	<flow name="smptFlow" doc:id="3702c96d-0590-4662-9f7f-adc9e954adf3" >
		<http:listener doc:name="Listener" doc:id="8e647566-0ccb-4139-abfc-0d20c4c1bb64" config-ref="HTTP_Listener_config" path="smpt"/>
		<email:send doc:name="Send" doc:id="7b63aa9e-00c0-4a71-b8ab-d89c0403a421" config-ref="Email_SMTP" fromAddress="grsr2644@gmail.com">
			<email:to-addresses >
				<email:to-address value="gravishankar338@gmail.com" />
				<email:to-address value="gravishankar339@gmail.com" />
				<email:to-address value="gravishankar341@gmail.com" />
			</email:to-addresses>
			<email:attachments ><![CDATA[#[{
	"attachment.txt": payload
}]]]></email:attachments>
		</email:send>
		<logger level="INFO" doc:name="Logger" doc:id="2eeb1448-4c6e-40c6-88ba-2a2647843062" message="playload"/>
	</flow>
</mule>
